<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>管理端页面</title>
	<link rel="stylesheet" href="/admin/css/index.css">
</head>
<body>
	管理端页面 
	<img src="/admin/img/1.jpg" alt="">
</body>
</html>